body
    {
        background-color: rgb(255, 185, 185);
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

header
    {
        background-color: #df5e5e;
        color: rgb(124, 62, 62);
        padding: 20px;
    }

h1
    {
        margin: 0;
    }

button
    {
        display: none;
    }

nav ul
    {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin-top: 10px;
    }

nav li
    {
        margin-right: 20px;
    }

nav a
    {
        color: rgb(5, 0, 0);
        text-decoration: none;
        padding: 10px;

    }

nav a:hover
    {
        background-color: rgb(241, 241, 241);
    }

main
    {
        padding: 20px;
        width: 600px;
        background-color: rgb(233, 214, 110);
        margin: auto;
        margin-top: 10px;
        border-radius: 10px;
    }
h4
    {
        text-align: center;
    }

p
    {
        text-align: justify;
        margin-bottom: 10px;
        text-indent: 20px;
    }

@media screen and (max-width: 600px) {
    header 
    {
        text-align: center;
    }

    nav
    {
        display: none;
    }

    nav ul 
    {
        flex-direction: column;
    }

    nav li 
    {
        margin: 10px 0;
    }

    nav a 
    {
        display: block;
    }

    nav a:hover
    {
        background-color: rgb(176, 88, 228);
    }

    button
    {
        display: block;
        background: none;
        margin: auto;
    }
    
    span
    {
        color: white;
        cursor: pointer;
    }

    button:focus ~ nav
    {
        display: block;
    }    

    main
    {
        width: 90vw;
    }
    
}
