.inicio     /* quadrado rosa/azu do início */ 
        {
            opacity:0.5;
            width:1342px;    
            height:100px;
            background:#e35ee7;
        }
.inicio:hover   /* quadrado rosa/azu do início */
        {
            opacity:1;
            background:fixed radial-gradient(circle at 31.27% 23.25%, #beffff 0, #87dcff 25%, #3cb5f2 50%, #0090d6 75%, #006fbd 100%);;
        }
.titulo     /* Tamanho e centralização do titulo */
        {
            background: linear-gradient(to right);
            -webkit-background-text: text;
            -webkit-text-fill-color: #550c0c;
            font-size: 55px;
            text-align: center;
        }
.imgLivros      /* imagens dos livros */
        {
            display: inline-block; 
            vertical-align: middle; 
            text-align: center;	
        }
.livro1e2e3:hover   /* transformação img 1 e 2 */
        {
            transform: translate(10px, 10px);
        }
.livro4e5:hover    /* transição img 3 e 4 */
        {
            box-shadow: inset 0 0 0 2px #a03c8a;
        }
.livro4e5:hover   /* transformação img 4 e 5 */
        {
            transform: translate(10px, 10px);
        } 
table       /* Tabela borda */
        {
            border: 4px solid transparent;
            border-image: linear-gradient(to right, #bd1a4b, #0d3e4b) 1;
        }
table    /* Tabela transformação */
        {
            transform: skew(7deg);
        }
.btn     /* botão de enviar */
        {
            padding: 1rem 2rem;
            border-radius: 8px;
            background: transparent;
            border: 2px solid rgb(31, 29, 163);
            font-size: 1.2rem;
            color: rgb(170, 9, 9);
            cursor: pointer;
            position: relative;
        }

.btn::before  
        {
            content: '';
            position: absolute;
            background: rgb(63, 75, 236);
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .3s ease;
        }

.btn:hover::before
        {
            width: 100%;
        }
.formulario1:hover  /* borda do form1 */
        {
            box-shadow:
                    1px 1px #a88c0d,
                    2px 2px #a08d24,
                    3px 3px #7a7805;
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
.formulario2:hover  /* borda do form2 */
        {
            box-shadow:
                    1px 1px #087045,
                    2px 2px #06572a,
                    3px 3px #02460b;
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
.formulario3:hover  /* borda do form3 */
        {
            box-shadow: inset 0 0 8px 8px #690a3e;
        }
.livro1e2e3 /* imagem borda */
        {
            border: 3px solid transparent;
            border-image: linear-gradient(to right, #025e25, #064233) 1;
        }
.livro4e5 /* imagem borda */
        {
            border: 3px solid transparent;
            border-image: linear-gradient(to right, #610677, #22002c) 1;
        }
.fim    /* rodapé gradiente e transição */ 
        {
            opacity:0.5;
            width:1342px;    
            height:100px;
            background:#6d0e0e;
        }
.fim:hover   
        {
            opacity:1;
            background-image: radial-gradient(circle at 42.35% 78.57%, #9e6921 0, #9e6024 8.33%, #995527 16.67%, #8f4928 25%, #813b27 33.33%, #6f2d25 41.67%, #591f1f 50%, #431218 58.33%, #300811 66.67%, #240006 75%, #190000 83.33%, #0d0000 91.67%, #000000 100%);
        }
.tituloFinal     /* gradiente da letra */
        {
            background: linear-gradient(to right, #9494db, #7472dd);
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            font-size: 25px;
        }